<center>

<br><br><br>

<h1>CHAT</h1>

<%= flash[:errors] %>

<br><br>

<%= button_to "SIGN IN", new_session_path, :method => :get %>

<br><br>

<%= button_to "SIGN UP", new_user_path, :method => :get %>

<br><br><br>

</center>
